version: 2
updates:
- package-ecosystem: gomod
  directory: /
  schedule:
    interval: weekly
- package-ecosystem: npm
  directory: /docs
  schedule:
    interval: weekly
- package-ecosystem: npm
  directory: /actions/setup/js
  schedule:
    interval: weekly
- package-ecosystem: npm
  directory: /.github/workflows
  schedule:
    interval: weekly
- package-ecosystem: pip
  directory: /.github/workflows
  schedule:
    interval: weekly
- package-ecosystem: gomod
  directory: /.github/workflows
  schedule:
    interval: weekly
